name: build

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: build-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-22.04
    steps:

      - name: checkout
        uses: actions/checkout@v4

      - name: setup-apt-llvm
        uses: ./

      - name: test-apt-llvm
        run: |
          sudo apt install -y \
            clang-19 \
            clang-18 \
            clang-17 \
            clang-16
